In [1]:
import pandas as pd

In [3]:
# Read the Iris dataset
iris_df = pd.read_csv("https://repo.hops.works/master/hopsworks-tutorials/data/iris.csv")

# Display the first 3 rows
iris_df.head(3)

   sepal_length  sepal_width  petal_length  petal_width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

In [2]:
import hopsworks
project = hopsworks.login()
fs = project.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/514196
Connected. Call `.close()` to terminate connection gracefully.

In [4]:
# Get or create the 'iris' feature group
iris_fg = fs.get_or_create_feature_group(
    name="iris",
    version=1,
    primary_key=[
        "sepal_length", "sepal_width",
        "petal_length", "petal_width",
    ],
    description="Iris flower dataset",
)
# Insert data info the feature group
iris_fg.insert(iris_df)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/514196/fs/510019/fg/606571

Uploading Dataframe: 0.00% |          | Rows 0/150 | Elapsed Time: 00:00 | Remaining Time: ?

Launching job: iris_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/514196/jobs/named/iris_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x7f27409e2f90>, None)

In [17]:
# Feature View Creation
selected_features = iris_fg.select_all()
# Get or create the 'iris' feature view
feature_view = fs.get_or_create_feature_view(
    name="iris",
    version=2,
    labels=['variety'],
    description="Read from Iris flower dataset",
    query=selected_features,
)

Feature view created successfully, explore it at
https://c.app.hopsworks.ai:443/p/514196/fs/510019/fv/iris/version/2

In [18]:
# creating the trainig dataset

feature_view = fs.get_feature_view("iris", 2)

# Perform a train-test split
X_train, X_test, y_train, y_test = feature_view.train_test_split(
    description='iris tutorial',
    test_size=0.2,
)

DeprecationWarning: ssl.PROTOCOL_TLS is deprecated

Finished: Reading data from Hopsworks, using Hive (12.04s)

VersionWarning: Incremented version to `1`.

In [20]:
X_train.head(5)

   sepal_length  sepal_width  petal_length  petal_width
0           5.7          3.8           1.7          0.3
1           5.6          2.7           4.2          1.3
2           6.3          3.3           6.0          2.5
3           6.0          2.9           4.5          1.5
4           5.0          3.0           1.6          0.2

In [ ]:
feature_view.get_feature_vector({"sepal_length": 5.1, "sepal_width": 3.5, "petal_length": 1.4, "petal_width": 0.2})